<div class="header">
    <div class="container headerContainer">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="/index.php">
                    <img src="/assets/images/Varumox V.png" alt="" height="75px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fab fa-buffer fa-3x" style="color: var(--color-main)"></i><span class="navbar-toggler-icon" style="animation: none; border-right: none"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a aria-current="page" href="/plugins.php" class="text-white">Plugins</a>
                        </li>
                    </ul>
                    <!--
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    -->
                    <hr style="color: white">
                        <!--NOT LOGGED IN-->
                        <div id="app">
                            <a type="button" id="discordLogin" class="btn btn-outline-warning">Login with discord</a>
                            <!-- This button should simply log someone in with discord oauth and redirect back to the page they were on. when logged in, in the button's place their discord avatar should be shown. Clicking it should then open a dropdown allowing them to go to their profile page and to log out. -->

                            <a type="button" href="https://github.com/login/oauth/authorize?scope=read:user&client_id=0bea0b16ef7a5564ae58" id="githubLogin" class="btn btn-outline-warning">Login with Github</a>
                            <!-- This button should do what it obviously should. The client id should also be correct.-->
                        </div>


                        <!--LOGGED IN-->
                        <div class="dropdown">
                            <button class="dropdown-btn">
                            <!--this should display the user's pfp-->
                            <img src="https://cdn.discordapp.com/embed/avatars/1.png" class="round" height="75" alt="">
                            <!--this should display the user's username-->
                            <!-- <h2 class="profile-header-text">user</h2> -->
                        </button>

                            <div class="dropdown-content">
                                <!--this redirects to the user's profile-->
                                <a href="profile.php">Profile</a>
                                <!--this logs out the user-->
                                <a href="">Log out</a>
                            </div>
                        </div>
                </div>
            </div>
        </nav>
    </div>
</div>
