<!DOCTYPE HTML>
<html lang="en">

<body>
<main>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://cdn.discordapp.com/embed/avatars/1.png" class="d-block mx-lg-auto img-fluid avatar" loading="lazy" height="100">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold lh-1 mb-3">Username#discrim</h2>
                <p class="lead">A description the user can set themself</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-2 me-md-2">
                        <i class="fab fa-github"></i>
                        <span style="animation: none; border-right: none">User's github</span>
                    </button>
                    <button type="button" class="btn btn-secondary btn-lg px-2">
                        <i class="fas fa-globe"></i>
                        <span style="animation: none; border-right: none">User's website</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

<div style="background-color: var(--color-dark)">
        <div class="col-lg-6 container text-center" style="padding-top: 10px">
            <h2 class="text-white">Plugins</h2>
            <p class="lead text-white">A collection of a user's plugins they uploaded</p>
            <a class="btn btn-primary">Upload plugins (Button should only be visible to the person this profile belongs to)</a>

            <p class="text-white">If the user has no plugins listed, it should display "User is not the author or editor of any plugins", else it should display the following widget for each individual plugin:</p>

            <div class="card mb-3" style="max-height: 100px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/M.png" class="img-fluid rounded-start" alt="" style="height: 100px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: left;"> <b> Plugin name </b> by author</h5>
                            <p class="card-text" style="text-align: left">Plugin description preferably limited to 60 characters</p>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</html