@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --font-main: "Play", sans-serif;
    --font-mono: "Space Mono", monospace;
    --bold: 600;
    --extra-bold: 800;

    --color-dark: #3b3f45;
    --color-light: #ffffff;
    --color-main: #19b5fe;
    --color-secondary: #b381b3;
    --color-dark-secondary: #abb7b7;

    --color-dark-hover: #2156;
    --color-dark-text: #2156;
    --color-dark-mark: #2156;
}